h1 {
    text-align: center;
}

#grid {
    max-width: 960px;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.square {
    border: thin solid black;
    color: white;                                 /* lol */
}